[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clusterv"]
	path = clusterv
	url = https://github.com/anacletolab/clusterv
[submodule "mosclust"]
	path = mosclust
	url = https://github.com/anacletolab/mosclust
